# Python
*.pyc
__pycache__/
.env
.venv/
*.egg-info/
dist/
build/

# CDK outputs
/cdk.out/*
!/cdk.out/*.zip
!/cdk.out/**/*.zip
!/cdk.out/*.json
!/cdk.out/**/*.json
!/cdk.out/*.js
!/cdk.out/**/*.js

# IDE settings
.vscode/
.idea/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Unit test cache
.cache/
pytest_cache/

# AWS credentials (never commit!)
.aws/

# Node modules
node_modules/
