# Python
*.pyc
__pycache__/
.venv/
.env
*.egg-info/
dist/
build/

# CDK
cdk.out/
!cdk.out/*.template.json
!cdk.out/*.assets.json
!cdk.out/*.js
!cdk.out/*.json

# Node.js
node_modules/
npm-debug.log*
yarn.lock

# Lambda specific
lambda/node_modules/
lambda/package-lock.json
lambda/yarn.lock

# Editor folders
.vscode/
.idea/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Test and cache
.cache/
pytest_cache/

# AWS
.aws/
